<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6 text-center">
      <h1>Task List</h1>
      <p><%= @task.title %></p>
      <p><%= @task.details %></p>

<%= link_to "Edit Task", edit_task_path, class: "btn btn-warning" %>
<%= link_to  "Delete Task", task_path(@task), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<%= link_to "Task Manager", tasks_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
